@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
	font-size: 10px;
	height: 100vh;
	background: black;
	background-size: cover;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Russo One', Times, serif;
}

.keys {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 2px solid rgb(221, 221, 221);
	border-radius: 0px;
	margin: 1rem;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 2.2rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
  font-family: inherit;
	display: block;
	font-size: 4rem;
	padding: 10px;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}